.popup__button-save{
    background-color: black;
    color: white;
    width: 83%;
    height: 15%;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 3%;
    border-radius: 3px;
}

.popup__button-save:hover{
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .popup__button-save{
        font-size: 12px;
    }
}